<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Firechat</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/favicon.ico" type="image/x-icon" rel="icon"/>
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
        @Html.ActionLink("Firechat", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        <ul class="nav navbar-nav mr-auto">
            <li class="nav-item active">@Html.ActionLink("Inicio", "Index", "Home", null, new { @class = "nav-link" })</li>
            <li class="nav-item">@Html.ActionLink("Mensajes", "Chat", "Home", null, new { @class = "nav-link" })</li>
            <li class="nav-item">@Html.ActionLink("Imagen del perfil", "Actualizar", "Account", null, new { @class = "nav-link" })</li>
        </ul>
        @Html.Partial("_LoginPartial")

    </nav>
    <div class="container-fluid">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Firechat</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
